#**Import Library**

In [1]:
import pandas as pd

#**Business Understanding**

##**Business Objective**

Dataset Salary_Data

Data ini merupakan sebuah data gaji pekerja yang diambil dari berbagai sumber seperti survey, situs lowongan kerja, dan sumber publik lainnya. Tujuan dari analisis ini adalah untuk memahami faktor-faktor apa saja yang dapat memengaruhi gaji seorang pekerja.

Di dalam dataset ini terdapat 6704 baris dan 6 kolom.

##**Assess Situation**

Kondisi dari dataset ini memiliki empat variabel (umur, tingkat pendidikan terakhir, posisi jabatan, dan pengalaman) yang dapat memengaruhi besar gaji yang didapatkan oleh sebuah pekerja.

Karena dataset ini mencakup variabel yang banyak, maka butuh pemahaman dan proses analisis yang lebih dalam.

##**Analytic Goals & Project Plan**

Untuk mengatasi masalah berikut, di dalam dataset ini akan dilakukan:

*   Analisis faktor-faktor penentu gaji
*   Penentuan variabel yang paling dominan dalam memengaruhi gaji
*   Menyajikan data dalam bentuk visualisasi

#**Data Understanding**

##**Memuat Dataset**

In [2]:
file = "/content/drive/MyDrive/AVD praktikum1/Salary_Data.csv"
df = pd.read_csv(file)
df

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0
...,...,...,...,...,...,...
6699,49.0,Female,PhD,Director of Marketing,20.0,200000.0
6700,32.0,Male,High School,Sales Associate,3.0,50000.0
6701,30.0,Female,Bachelor's Degree,Financial Manager,4.0,55000.0
6702,46.0,Male,Master's Degree,Marketing Manager,14.0,140000.0
6703,26.0,Female,High School,Sales Executive,1.0,35000.0